@use "../node_modules/@fontsource/roboto/scss/mixins.scss" as Roboto;

$primary: #1b4b45;
$enable-negative-margins: true;
@import "../node_modules/bootstrap/scss/bootstrap";

@include Roboto.fontFace($weight: 300,
    $display: fallback,
    $fontDir: "../node_modules/@fontsource/roboto/files"
);

@include Roboto.fontFace($weight: 400,
    $display: fallback,
    $fontDir: "../node_modules/@fontsource/roboto/files"
);

@include Roboto.fontFace($weight: 500,
    $display: fallback,
    $fontDir: "../node_modules/@fontsource/roboto/files"
);

body {
    font-family: "Roboto";
}
